@charset "UTF-8";

/* MODO CLARO */

:root {
    --cor1: #13171D;
    --cor2: #3B7779;
    --cor3: #0C0F14;
    --cor4: #59BBBA;
    --cor5: #13171D;
    --cor6: #333;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body.claro {
    background-color: white;
    color: black;
}

.claro section {
    scroll-margin-top: 100px;
}

.claro header {
    background-color: lightgray;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.claro header > h1 {
    font-size: 1.6em;
    color: var(--cor5);
}

.claro header > nav > a {
    text-decoration: none;
    color: var(--cor5);
    font-size: 1.1em;
    padding: 10px;
    border: 2px solid var(--cor5);
    border-radius: 10px;
    margin: 12px;
}

.claro header a:hover {
    background-color: var(--cor5);
    color: white;
    transition: 0.3s;
}

.claro #titulo {
    background-color: lightgray;
    padding: 90px;
    text-align: center;
    color: black;
}

.claro #titulo > h1 {
    line-height: 1.4em;
    font-size: 3em;
}

.claro #titulo > h2 {
    line-height: 2.3em;
    margin-bottom: 18px;
}

.claro #titulo > a {
    color: var(--cor1);
    text-decoration: none;
    border: 2px solid var(--cor1);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.3em;
    background-color: white;
}

.claro #titulo > a:hover {
    background-color: var(--cor1);
    color: white;
    transition: 0.3s;
}

.claro #corpo {
    background-color: #f9f9f9;
    padding: 50px;
}

.claro #corpo > h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.claro #corpo > p {
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
    text-indent: 2em;
    width: 90vw;
    color: #222;
}

.claro #projetos {
    background-color: #e0e0e0;
    padding: 50px;
}

.claro #container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.claro #projetos > h1 {
    margin: 10px 10px 30px 10px;
    font-size: 2em;
    color: var(--cor5);
    text-align: center;
}

.claro .proj1, .claro .proj2, .claro .proj3 {
    color: black;
    display: inline-block;
    width: 250px;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 10px;
    background-color: white;
}

.claro #container h2, .claro #container p, .claro #container a {
    text-align: center;
    margin-bottom: 15px;
}

.claro #container a {
    display: block;
    margin: auto;
    color: var(--cor5);
    background-color: white;
    text-decoration: none;
    border: 2px solid var(--cor6);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3em;
}

.claro #container a:hover {
    background-color: var(--cor5);
    color: white;
    transition: 0.3s;
}

.claro #precos {
    background-color: white;
}

.claro #container3 {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.claro .preco1, .claro .preco2, .claro .preco3 {
    color: black;
    display: inline-block;
    width: 250px;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 10px;
    background-color: white;
}

.claro #container3 h2, p, a {
    font-weight: normal;
    text-align: center;
    margin-bottom: 15px;
}

.claro #container3 .valor {
    font-weight: bolder;
    font-size: 2.3em;
}

.claro #container3 .descricao {
    font-size: 1.2em;
}

.claro #container3 a {
    display: block;
    margin: auto;
    color: var(--cor5);
    background-color: white;
    text-decoration: none;
    border: 2px solid var(--cor6);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3em;
}

.claro #container3 a:hover {
    background-color: var(--cor5);
    color: white;
    transition: 0.3s;
}

.claro #contato {
    background-color: #e0e0e0;
    padding: 50px;
}

.claro #contato > h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.claro #contato > p {
    font-size: 1.1em;
    text-align: left;
    color: #222;
    text-align: center;
}

.claro .linked {
    text-decoration: none;
    color: var(--cor2);
}

.claro .linked:hover {
    text-decoration: underline;
}

.claro span {
    cursor: pointer;
    color: var(--cor5);
}

.claro footer {
    background-color: #e0e0e0;
    padding: 10px;
}

.claro footer > p {
    text-align: center;
    display: block;
    margin: auto;
}

.claro #contato input {
    font-size: 0.9em;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.089);
    transition: border .3s ease-in-out;
}

.claro #contato textarea {
    margin-top: 10px;
    width: 350px;
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.089);
    transition: border .3s ease-in-out;
}