:root {
    --cor1: #13171D;
    --cor2: #3B7779;
    --cor3: #0C0F14;
    --cor4: #59BBBA;
    --cor5: #C4C6C7;
    --cor6: #B0B2B3;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--cor3);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 70vh;
    width: 60vw;
    border-radius: 10px;
    background-color: var(--cor1);
}