@charset "UTF-8";

/* Modo Escuro */

:root { /* Criando as variáveis */
    --cor1: #13171D;
    --cor2: #3B7779;
    --cor3: #0C0F14;
    --cor4: #59BBBA;
    --cor5: #C4C6C7;
    --cor6: #B0B2B3;
}

* { /* Reset (Configurações Padrão) */
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

header {
    background-color: var(--cor1);
    padding: 10px; /* Espaçamento interno */
    position: fixed; /* Fixando a barra para acompanhar o usuário conforme ele for descendo no site*/
    width: 100%;
    height: 60px;

    /* Flexblox para espaçar igualmente os itens */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section {
    scroll-margin-top: 100px; /* Fazendo o conteúdo ficar centralizando quando o usuário clicar em um dos links no header */
}

header > h1 {
    font-size: 1.6em;
    color: white;
}

nav { /* Deixando responsivo para mexer no ícone */
    display: flex;
    align-items: center;
    gap: 20px;
}

.material-symbols-outlined {
    font-size: 28px; /* Aumenta o tamanho do ícone */
    cursor: pointer;
}

header > nav > a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 12px; /* Espaçamento Externo */
}

header a:hover {
    background-color: white;
    color: var(--cor3);
    transition: 0.3s; /* Suavizando */
}

#titulo {
    background-color: var(--cor1);
    padding: 90px;
    text-align: center;
}

#titulo > h1 {
    line-height: 1.4em;
    font-size: 3em;
}

#titulo > h2 {
    line-height: 2.3em;
    margin-bottom: 18px;
}

#titulo > a {
    color: var(--cor4);
    text-decoration: none; /* Tirando a underline */
    border: 2px solid var(--cor4);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.3em;
}

#titulo > a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
    transition: 0.3s;
}

span {
    cursor: pointer;
}

#corpo {
    background-color: var(--cor3);
    padding: 50px;
}

#corpo > h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#corpo > p {
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: left; /* Grudando na esquerda */
    text-indent: 2em; /* Recuo do parágrafo */
    text-align: justify;
    width: 90vw; /* Para comportar 90% da viewwidth, não ir até o final */
}

#projetos {
    background-color: var(--cor1);
    padding: 50px;
}

#container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#projetos > h1 {
    margin: 10px 10px 30px 10px;
    font-size: 2em;
    text-align: center;
}

.proj1, .proj2, .proj3 {
    color: white;
    display: inline-block;
    width: 250px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: var(--cor3);
}

#container h2, p, a {
    text-align: center;
    margin-bottom: 15px;
}

#container a {
    display: block;
    margin: auto;
    color: white;
    text-decoration: none;
    border: 2px solid var(--cor1);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--cor1);
    font-size: 1.3em;
}

#container a:hover {
    background-color: white;
    color: var(--cor1);
    transition: 0.3s;
}

#precos {
    height: 500px;
    background-color: var(--cor3);
    padding: 50px;
}

#precos > h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

#container3 {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#container3 h2, p, a {
    font-weight: normal;
    text-align: center;
    margin-bottom: 15px;
}

#container3 .valor {
    font-weight: bolder;
    font-size: 2.3em;
}

#container3 .descricao {
    font-size: 1.2em;
}

#container3 a {
    display: block;
    margin: auto;
    color: white;
    text-decoration: none;
    border: 2px solid var(--cor1);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--cor1);
    font-size: 1.3em;
}

#container3 a:hover {
    background-color: white;
    color: var(--cor1);
    transition: 0.3s;
}

#contato {
    background-color: var(--cor1);
    padding: 50px;
}

#contato > h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.preco1, .preco2, .preco3 {
    color: white;
    display: inline-block;
    width: 250px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: var(--cor3);
}

#contato > p {
    font-size: 1.1em;
    text-align: left;
    text-align: center;
}

.linked {
    text-decoration: none;
    color: var(--cor4);
}

.linked:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--cor1);
    padding: 10px;
}

footer > p {
    text-align: center;
    display: block;
    margin: auto;
}

#contato input {
    font-size: 0.9em;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
}

#contato textarea {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    width: 450px;
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid transparent;
}

#contato .enviar {
    background-color: var(--cor3);
    color: var(--cor4);
    border: 2px solid var(--cor4);
    padding: 8px;
    font-size: 1em;
    font-weight: bold;
}

#contato .enviar:hover {
    background-color: var(--cor4);
    color: var(--cor1);
    transition: .4s;
    cursor: pointer;
}

#contato #inome:focus, #contato #iemail:focus, textarea:focus { /* Após clicar... */
    box-shadow: 0 0 8px 3px var(--cor4);
    transition: .3s;
}